.section {
  background-color: #f3f3f3;
  height: 618px;
  max-width: 100%;
  @media screen and (max-width: 480px) {
    height: 718px;
  }

  &__first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &__caption {
      margin-top: 70px;
      text-transform: uppercase;
      font-size: 16px;
      font-family: 'Source Sans Pro', sans-serif;
      letter-spacing: 4px;
      word-spacing: 12px;
      color: #333b46;
      @media screen and (max-width: 480px) {
        margin-top: 50px;
      }
    }

    &__text {
      margin-top: 30px;
      max-width: 462px;
      letter-spacing: 1px;
      word-spacing: 4px;
      color: #6d727a;
      @media screen and (max-width: 480px) {
        margin: 20px 30px;
      }
    }
  }

  .hovers {
    .link {
      display: flex;
      justify-content: center;
      padding: 0;
      margin-top: 45px;
      @media screen and (max-width: 480px) {
        margin: 0;
      }

      &__icons {
        display: block;
        padding: 15px;
        margin: 15px;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        background-color: #6d727a;

        &__btn {
          fill: white;
        }
      }

      &__icons {
        &:hover {
          background-color: #19bd9a;
        }
      }
    }
  }

  .headline {
    height: 155px;
    @media screen and (max-width: 1270px) {
      padding: 0 50px;
    }

    &__title {
      margin-top: 55px;
      width: 50%;
      font-size: 16px;
      text-transform: capitalize;
      color: #333b46;
      @media screen and (max-width: 480px) {
        margin-top: 25px;
      }
    }

    &__lion {
      display: flex;
      justify-content: space-between;
      line-height: 25px;
      letter-spacing: 1px;
      word-spacing: 5px;
      color: #6d727a;
      @media screen and (max-width: 480px) {
        flex-direction: column;
      }
    }

    &__text {
      width: 32%;
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }

    &__textFinish {
      width: 58%;
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
  }
}