.contact {
  height: 610px;
  background: #f3f3f3;
  @media screen and (max-width: 480px) {
    height: 1182px;
  }

  &__contactUs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &__titel {
      margin: 80px 0 40px 0;
      text-transform: uppercase;
      font-size: 18px;
      color: #333b46;
      @media screen and (max-width: 480px) {
        margin: 40px 0 15px 0;
      }
    }

    &__text {
      margin: 5px 0;
      color: #333b46;
      @media screen and (max-width: 480px) {
        margin: 0 auto;
        padding: 0 30px;
        max-width: 340px;
        line-height: 24px;
      }
    }
  }

  .office-conto {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 60px;
    max-width: 960px;
    @media screen and (max-width: 480px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 24px;
      max-width: 290px;
    }

    .office {
      width: 290px;
      height: 275px;
      background: #fff;
      @media screen and (max-width: 480px) {
        margin: 26px 0;
      }

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background: url("../img/21011.jpg") no-repeat center center / cover;
          opacity: 1;
        }

        &__svg {
          width: 60px;
          height: 60px;
        }
      }

      .cover {
        background-size: cover;
        background-position: 50% 50%;
      }

      &__img1 {
        width: 100%;
        height: 50%;
        background: url("../img/contact1.jpg");
      }

      &__img2 {
        width: 100%;
        height: 50%;
        background: url("../img/contact2.jpg");
      }

      &__img3 {
        width: 100%;
        height: 50%;
        background: url("../img/contact3.jpg");
      }

      &__email {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        &__titel {
          margin-top: 20px;
          text-transform: uppercase;
          font-size: 18px;
          color: #333b46;
        }

        &__text {
          text-transform: uppercase;
          color: #333b46;
          margin: 5px;
        }
      }
    }
  }
}