.contact {
  height: 610px;
  background: #f3f3f3;

  &__contactUs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &__titel {
      margin: 80px 0px 40px 0px;
      text-transform: uppercase;
      font-size: 18px;
      color: #333b46;
    }

    &__text {
      margin: 5px 0px;
      color: #333b46;
    }
  }

  .office-conto {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 60px;
    width: 950px;

    .office {
      width: 290px;
      height: 275px;
      background: #fff;

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background: url("../img/21011.jpg");
          background-size: cover;
          background-position: 50% 50%;
          opacity: 1;
        }

        &__svg {
          width: 60px;
          height: 60px;
        }
      }

      &__img1 {
        width: 100%;
        height: 50%;
        background: url("../img/contact1.jpg");
      }

      &__img2 {
        width: 100%;
        height: 50%;
        background: url("../img/contact2.jpg");
      }

      &__img3 {
        width: 100%;
        height: 50%;
        background: url("../img/contact3.jpg");
      }

      &__email {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        &__titel {
          margin-top: 20px;
          text-transform: uppercase;
          font-size: 18px;
          color: #333b46;
        }

        &__text {
          text-transform: uppercase;
          color: #333b46;
          margin: 5px;

        }
      }
    }
  }
}


