.footer {
  height: 290px;
  background: #f3f3f3;
  @media screen and (max-width: 480px) {
    height: 190px;
  }

  &__finish {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .footerText {
      margin-top: 50px;
      @media screen and (max-width: 480px) {
        margin-top: 10px;
      }

      &__titel {
        text-transform: uppercase;

        &__bouncy {
          text-decoration: none;
          font-size: 20px;
          font-weight: bold;
          color: #323a45;
          @media screen and (max-width: 480px) {
            font-size: 14px;
          }
        }
      }

      &__text {
        text-transform: capitalize;
        color: #333B56;
        @media screen and (max-width: 480px) {
          font-size: 12px;
        }
      }
    }
  }

  .footerMenu {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 480px) {
      margin-top: -10px;
    }

    &__icon {
      margin: 30px 9px 0px 9px;
      width: 30px;
      height: 30px;
    }
  }
}