::selection {
  background: #000;
  color: #fff;
}

header {
  background: url("../img/banner.jpg") no-repeat center top / cover;
  height: 740px;
  width: 100%;
}

.wrapper {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}

.logo {
  &__bouncy {
    display: block;
    padding-top: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #f3f3f3;

    &__button {
      display: flex;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      color: #f3f3f3;
    }
  }

  .menu {
    padding: 0;
    margin-top: -28px;
    display: flex;
    justify-content: flex-end;

    &__link {
      display: block;
      float: left;
      margin-left: 30px;

      &__button1 {
        border-style: solid;
        border-width: 1px;
        border-radius: 50px;
        padding: 2px 8px 2px 8px;
        text-decoration: none;
        text-transform: capitalize;
        color: #f3f3f3;
      }

      &__button1 {
        &:hover {
          background-color: #19bd9a;
          transition: all 0.6s ease;
        }
      }

      &__button {
        text-decoration: none;
        text-transform: capitalize;
        color: #f3f3f3;
      }
    }
  }

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &__title {
      text-transform: uppercase;
      letter-spacing: 6px;
      word-spacing: 15px;
      font-size: 25px;
      font-weight: normal;
      font-family: 'Source Sans Pro', sans-serif;
      margin-top: 220px;
      color: #fff;
    }

    &__subtitle {
      max-width: 620px;
      margin-top: 26px;
      line-height: 18px;
      letter-spacing: 1px;
      word-spacing: 4px;
      word-wrap: break-word;
      color: #fff;
    }
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    &__list {
      border-style: solid;
      border-width: 1px;
      border-radius: 50px;
      padding: 9px 16px 9px 16px;
      text-decoration: none;
      letter-spacing: 4px;
      color: #19bd9a;

      &__start {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        color: #f3f3f3;
      }
    }

    &__list {
      &:hover {
        background-color: #19bd9a;
        transition: all 2s ease;
      }
    }
  }
}

.text {
  padding-left: 100px;
  height: 487px;
  background-color: #fff;

  &__titel {
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 4px;
    word-spacing: 12px;
    margin-top: 114px;
    color: #333b46;
  }

  &__desc {
    max-width: 465px;
    line-height: 25px;
    letter-spacing: 2px;
    word-spacing: 4px;
    word-wrap: break-word;
    color: #81868e;
    margin-top: 50px;
  }

  &__bat {
    margin-top: 50px;

    &__batton {
      border-style: solid;
      border-width: 1px;
      border-radius: 20px;
      padding: 9px 20px 9px 20px;
      letter-spacing: 4px;
      color: #333b46;
    }

    &__read {
      text-decoration: none;
      text-transform: capitalize;
      color: #333b46;
    }


    &__batton {
      &:hover {
        background-color: #19bd9a;
        transition: all 2s ease;
      }
    }
  }

  &__monitor {
    background: url("../img/mobi.png") no-repeat;
    height: 340px;
    width: 205px;
    float: right;
    margin-right: 100px;
  }
}
