.director {
  background: url("../img/pipl2.jpg") no-repeat center top / cover;
  height: 390px;
  color: #fff;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 25px;

  &__titel {
    margin: 0;
    padding-top: 80px;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 60px;
    width: 50%;
  }

  &__titelStart {
    margin-top: 60px;
    text-transform: uppercase;
  }

  &__titelFinish {
    margin-top: -8px;
    text-transform: uppercase;
  }

  &__img {
    margin-top: -40px;
    height: 330px;
    width: 410px;
    background: url("../img/monitor.jpg") no-repeat;
    float: right;
  }
}