.director {
  background: url("../img/pipl2.jpg") no-repeat center top / cover;
  height: 390px;
  color: #fff;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 25px;
  @media screen and (max-width: 1280px) {
    padding: 0 50px;
  }

  &__titel {
    margin: 0;
    padding-top: 80px;
    font-size: 16px;
    text-transform: uppercase;
    @media screen and (max-width: 960px) {
      padding-top: 60px;
    }
  }

  &__text {
    margin-top: 60px;
    width: 50%;
    @media screen and (max-width: 960px) {
      width: 40%;
    }
  }

  &__titelStart {
    margin-top: 60px;
    text-transform: uppercase;
    @media screen and (max-width: 960px) {
      margin-top: 40px;
    }
  }

  &__titelFinish {
    margin-top: -8px;
    text-transform: uppercase;
    @media screen and (max-width: 960px) {

    }
  }

  &__img {
    margin-top: -40px;
    height: 330px;
    width: 410px;
    background: url("../img/1111.png") no-repeat;
    float: right;
    @media screen and (max-width: 1280px) {
      padding: 0;
    }
  }
}