@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  max-width: 1370px;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

::selection {
  background: #000;
  color: #fff; }

header {
  background: url("../img/banner.jpg") no-repeat center top/cover;
  height: 740px;
  width: 100%; }

.wrapper {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto; }

.logo__bouncy {
  display: block;
  padding-top: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #f3f3f3; }
  .logo__bouncy__button {
    display: flex;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #f3f3f3; }
.logo .menu {
  padding: 0;
  margin-top: -28px;
  display: flex;
  justify-content: flex-end; }
  .logo .menu__link {
    display: block;
    float: left;
    margin-left: 30px; }
    .logo .menu__link__button1 {
      border-style: solid;
      border-width: 1px;
      border-radius: 50px;
      padding: 2px 8px 2px 8px;
      text-decoration: none;
      text-transform: capitalize;
      color: #f3f3f3; }
      .logo .menu__link__button1:hover {
        background-color: #19bd9a;
        transition: all 0.6s ease; }
    .logo .menu__link__button {
      text-decoration: none;
      text-transform: capitalize;
      color: #f3f3f3; }
.logo .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .logo .heading__title {
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 15px;
    font-size: 25px;
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 220px;
    color: #fff; }
  .logo .heading__subtitle {
    max-width: 620px;
    margin-top: 26px;
    line-height: 18px;
    letter-spacing: 1px;
    word-spacing: 4px;
    word-wrap: break-word;
    color: #fff; }
.logo .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px; }
  .logo .button__list {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 9px 16px 9px 16px;
    text-decoration: none;
    letter-spacing: 4px;
    color: #19bd9a; }
    .logo .button__list:hover {
      background-color: #19bd9a;
      transition: all 2s ease; }
    .logo .button__list__start {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      color: #f3f3f3; }

.text {
  padding-left: 100px;
  height: 487px;
  background-color: #fff; }
  .text__titel {
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 4px;
    word-spacing: 12px;
    margin-top: 114px;
    color: #333b46; }
  .text__desc {
    max-width: 465px;
    line-height: 25px;
    letter-spacing: 2px;
    word-spacing: 4px;
    word-wrap: break-word;
    color: #81868e;
    margin-top: 50px; }
  .text__bat {
    margin-top: 50px; }
    .text__bat__batton {
      border-style: solid;
      border-width: 1px;
      border-radius: 20px;
      padding: 9px 20px 9px 20px;
      letter-spacing: 4px;
      color: #333b46; }
      .text__bat__batton:hover {
        background-color: #19bd9a;
        transition: all 2s ease; }
    .text__bat__read {
      text-decoration: none;
      text-transform: capitalize;
      color: #333b46; }
  .text__monitor {
    background: url("../img/mobi.png") no-repeat;
    height: 340px;
    width: 205px;
    float: right;
    margin-right: 100px; }

.section {
  background-color: #f3f3f3;
  height: 618px;
  max-width: 100%; }
  .section__first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    .section__first__caption {
      margin-top: 70px;
      text-transform: uppercase;
      font-size: 16px;
      font-family: 'Source Sans Pro', sans-serif;
      letter-spacing: 4px;
      word-spacing: 12px;
      color: #333b46; }
    .section__first__text {
      margin-top: 30px;
      width: 462px;
      letter-spacing: 1px;
      word-spacing: 4px;
      color: #6d727a; }
  .section .hovers .link {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 45px; }
    .section .hovers .link__icons {
      display: block;
      padding: 15px;
      margin: 15px;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      background-color: #6d727a; }
      .section .hovers .link__icons__btn {
        fill: white; }
    .section .hovers .link__icons:hover {
      background-color: #19bd9a; }
  .section .headline {
    height: 155px; }
    .section .headline__title {
      margin-top: 55px;
      width: 50%;
      font-size: 16px;
      text-transform: capitalize;
      color: #333b46; }
    .section .headline__lion {
      display: flex;
      justify-content: space-between;
      line-height: 25px;
      letter-spacing: 1px;
      word-spacing: 5px;
      color: #6d727a; }
    .section .headline__text {
      width: 32%; }
    .section .headline__textFinish {
      width: 58%; }

.projekts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 235px;
  background-color: #fff;
  text-align: center;
  word-spacing: 5px; }
  .projekts__title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    color: #333b46; }
  .projekts__text {
    width: 540px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #6d727a; }

.colorText {
  color: #19bd9a; }

.colorBlack {
  color: #000; }

.vintage {
  display: flex;
  height: 318px;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff; }
  .vintage .image {
    width: 55%;
    background: url("../img/oblozka1.jpg"); }
  .vintage .picture {
    width: 20%;
    background: url("../img/oblozka2.jpg"); }
  .vintage .img {
    width: 25%;
    background: url("../img/oblozka3.jpg"); }
  .vintage .blok {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
    .vintage .blok__titel {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2; }
    .vintage .blok:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: #000;
      height: 100%;
      width: 100%;
      opacity: 0.8; }
    .vintage .blok:hover:before {
      display: none; }
    .vintage .blok:hover .blok__titel {
      display: none; }

.submit {
  display: block;
  column-span: all;
  background: url("../img/feet.jpg");
  height: 113px; }
  .submit__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    float: left;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 4px; }
  .submit__now {
    margin-top: 46px;
    float: right; }
    .submit__now__link {
      border-style: solid;
      border-width: 1px;
      border-radius: 20px;
      padding: 9px 20px 9px 20px;
      letter-spacing: 1px;
      color: #fff; }
      .submit__now__link:hover {
        background-color: #19bd9a;
        transition: all 1s ease; }
    .submit__now__read {
      text-decoration: none;
      text-transform: capitalize;
      color: #fff;
      font-size: 14px; }

.services {
  background-color: #f3f3f3;
  height: 636px; }
  .services__graphic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    .services__graphic__heading {
      margin-top: 80px;
      font-family: 'Libre Baskerville', serif;
      text-transform: uppercase;
      letter-spacing: 3px;
      word-spacing: 5px;
      font-size: 16px;
      color: #333b46; }
    .services__graphic__text {
      width: 660px;
      letter-spacing: 1px;
      word-spacing: 3px;
      line-height: 30px;
      color: #333b46; }
  .services .wrapper-first {
    display: flex;
    margin-top: 30px; }
    .services .wrapper-first .designer .presention {
      display: block;
      padding: 0; }
      .services .wrapper-first .designer .presention__icon {
        display: block;
        padding: 15px;
        margin-top: 20px;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        background-color: #6d727a; }
        .services .wrapper-first .designer .presention__icon__btr {
          fill: white; }
      .services .wrapper-first .designer .presention__icon:hover {
        background-color: #19bd9a; }
    .services .wrapper-first .designers {
      display: flex;
      flex-direction: column;
      padding-left: 46px;
      width: 440px;
      letter-spacing: 1px;
      word-spacing: 2px;
      line-height: 25px;
      color: #333b46; }
      .services .wrapper-first .designers__titel {
        margin-top: 20px;
        text-transform: capitalize;
        font-size: 16px; }
      .services .wrapper-first .designers__text {
        margin-top: 15px; }
      .services .wrapper-first .designers__end {
        margin-top: 30px; }
    .services .wrapper-first .bars {
      display: flex;
      align-items: center;
      padding-left: 107px; }
      .services .wrapper-first .bars .progressCircle {
        position: relative;
        display: inline-block;
        margin: 20px;
        width: 134px;
        height: 134px;
        border-radius: 50%;
        background-color: #ddd; }
        .services .wrapper-first .bars .progressCircle:before {
          content: '';
          position: absolute;
          top: 7px;
          left: 6px;
          width: 121px;
          height: 121px;
          border-radius: 50%;
          background-color: #f3f3f3; }
        .services .wrapper-first .bars .progressCircle:after {
          content: '';
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: #19bd9a; }
        .services .wrapper-first .bars .progressCircle__number {
          position: absolute;
          top: 50%;
          width: 100%;
          line-height: 1;
          margin-top: -0.75rem;
          text-align: center;
          font-size: 1.5rem;
          color: #777; }
          .services .wrapper-first .bars .progressCircle__number em {
            font-size: 15px; }
        .services .wrapper-first .bars .progressCircle__textFin {
          margin-top: 80px;
          font-size: 14px; }
      .services .wrapper-first .bars .progressCircle.progress--0:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(90deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--5:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(108deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--10:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(126deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--15:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(144deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--20:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(162deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--25:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(180deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--30:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(198deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--35:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(216deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--40:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(234deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--45:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(252deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--50:after {
        background-image: linear-gradient(-90deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--55:after {
        background-image: linear-gradient(-72deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--60:after {
        background-image: linear-gradient(-54deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--65:after {
        background-image: linear-gradient(-36deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--70:after {
        background-image: linear-gradient(-18deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--75:after {
        background-image: linear-gradient(0deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--80:after {
        background-image: linear-gradient(18deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--85:after {
        background-image: linear-gradient(36deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--90:after {
        background-image: linear-gradient(54deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--95:after {
        background-image: linear-gradient(72deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--100:after {
        background-image: linear-gradient(90deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }

.director {
  background: url("../img/pipl2.jpg") no-repeat center top/cover;
  height: 390px;
  color: #fff;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 25px; }
  .director__titel {
    margin: 0;
    padding-top: 80px;
    font-size: 16px;
    text-transform: uppercase; }
  .director__text {
    margin-top: 60px;
    width: 50%; }
  .director__titelStart {
    margin-top: 60px;
    text-transform: uppercase; }
  .director__titelFinish {
    margin-top: -8px;
    text-transform: uppercase; }
  .director__img {
    margin-top: -40px;
    height: 330px;
    width: 410px;
    background: url("../img/monitorrt.png") no-repeat;
    float: right; }

.back {
  max-height: 1640px;
  background-color: #f3f3f3;
  padding-bottom: 100px; }
  .back .portfolio {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #333b46; }
    .back .portfolio .portfolio-start__titel {
      margin-top: 80px;
      text-transform: uppercase;
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif; }
    .back .portfolio .portfolio-start__text {
      display: inline-block;
      margin-top: 40px;
      width: 490px;
      line-height: 24px; }
    .back .portfolio .portfolio-start__menu {
      display: flex;
      justify-content: center; }
      .back .portfolio .portfolio-start__menu .menuCenter {
        display: inline-block;
        margin-top: 60px; }
        .back .portfolio .portfolio-start__menu .menuCenter__element {
          display: block;
          float: left; }
        .back .portfolio .portfolio-start__menu .menuCenter__link {
          display: inline-block;
          position: relative;
          text-decoration: none;
          margin: 20px;
          font-weight: bolder;
          color: #464646; }
          .back .portfolio .portfolio-start__menu .menuCenter__link:before {
            content: "";
            display: block;
            position: absolute;
            height: 2px;
            width: 0;
            background: #19bd9a;
            transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
            left: 50%;
            bottom: 0; }
          .back .portfolio .portfolio-start__menu .menuCenter__link:after {
            content: "";
            display: block;
            position: absolute;
            height: 2px;
            width: 0;
            background-color: #19bd9a;
            transition: width 0.3s ease-in-out;
            left: 50%;
            bottom: 0; }
          .back .portfolio .portfolio-start__menu .menuCenter__link:hover:before {
            width: 50%;
            left: 0; }
          .back .portfolio .portfolio-start__menu .menuCenter__link:hover:after {
            width: 50%; }
  .back .gallery {
    display: grid;
    margin-top: 70px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(25, 2vw);
    grid-gap: 11px; }
    .back .gallery__item1 {
      background: url("../img/painting1.jpg");
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 10; }
    .back .gallery__item2 {
      background: url("../img/painting2.jpg");
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 7; }
    .back .gallery__item3 {
      background: url("../img/painting3.jpg");
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 9; }
    .back .gallery__item4 {
      background: url("../img/painting4.jpg");
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 10; }
    .back .gallery__item5 {
      background: url("../img/painting5.jpg");
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 10;
      grid-row-end: 20; }
    .back .gallery__item6 {
      background: url("../img/painting6.jpg");
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 7;
      grid-row-end: 16; }
    .back .gallery__item7 {
      background: url("../img/painting7.jpg");
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 9;
      grid-row-end: 19; }
    .back .gallery__item8 {
      background: url("../img/painting8.jpg");
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 10;
      grid-row-end: 16; }
    .back .gallery__item9 {
      background: url("../img/painting9.jpg");
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 20;
      grid-row-end: 26; }
    .back .gallery__item10 {
      background: url("../img/painting10.jpg");
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 16;
      grid-row-end: 26; }
    .back .gallery__item11 {
      background: url("../img/painting11.jpg");
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 19;
      grid-row-end: 26; }
    .back .gallery__item12 {
      background: url("../img/painting12.jpg");
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 16;
      grid-row-end: 26; }
    .back .gallery__item {
      position: relative;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
    .back .gallery .hoverText {
      position: relative; }
      .back .gallery .hoverText__box {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        font-size: 14px;
        text-transform: uppercase; }
      .back .gallery .hoverText__start {
        text-transform: uppercase;
        font-size: 14px;
        color: #19bd9a; }
      .back .gallery .hoverText__finish {
        margin-top: 40px;
        padding-bottom: 30px;
        font-size: 8px;
        line-height: 15px;
        color: #fff; }
      .back .gallery .hoverText .rowSvg {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 1px; }
        .back .gallery .hoverText .rowSvg .svg {
          padding: 10px;
          margin: 5px;
          border-radius: 100%;
          background-color: #000;
          height: 15px;
          width: 15px; }
          .back .gallery .hoverText .rowSvg .svg svg {
            fill: white; }
          .back .gallery .hoverText .rowSvg .svg:hover {
            background-color: #19bd9a; }
      .back .gallery .hoverText:before {
        content: "";
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #000;
        height: 100%;
        width: 100%;
        opacity: 0.9; }
      .back .gallery .hoverText:hover:before {
        display: block; }
      .back .gallery .hoverText:hover .hoverText__box {
        display: block; }
        .back .gallery .hoverText:hover .hoverText__box__start {
          display: block; }
        .back .gallery .hoverText:hover .hoverText__box__finish {
          display: block; }
        .back .gallery .hoverText:hover .hoverText__box .svg {
          display: block; }
          .back .gallery .hoverText:hover .hoverText__box .svg__first {
            display: block; }
  .back .finishPro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    height: 200px;
    background: url("../img/black.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    color: #fff;
    letter-spacing: 1px; }
    .back .finishPro__submit {
      margin-top: 20px;
      text-decoration: none;
      border-style: solid;
      border-width: 1px;
      border-radius: 20px;
      padding: 9px 20px 9px 20px;
      letter-spacing: 1px;
      color: #fff; }
      .back .finishPro__submit:hover {
        background: #19bd9a; }

.cull {
  height: 770px; }
  .cull .team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    .cull .team__titel {
      margin-top: 80px;
      text-transform: uppercase;
      font-size: 18px;
      color: #333b46; }
    .cull .team__text {
      margin-top: 30px;
      width: 560px;
      line-height: 22px;
      letter-spacing: 1px;
      color: #6d727a; }
  .cull .man-cull {
    display: flex;
    justify-content: space-between;
    height: 100%; }
    .cull .man-cull__man {
      margin-top: 75px;
      background: url("../img/man.jpg") no-repeat;
      width: 285px;
      height: 364px; }
    .cull .man-cull .progress-bar {
      display: flex;
      flex-direction: column; }
      .cull .man-cull .progress-bar .progress {
        display: block;
        margin-top: 70px;
        max-width: 335px;
        text-align: right;
        color: #a8abb0; }
        .cull .man-cull .progress-bar .progress__titel {
          font-family: 'Libre Baskerville', serif;
          font-size: 18px;
          color: #464646; }
        .cull .man-cull .progress-bar .progress__titelFinish {
          margin-top: 16px;
          font-family: 'Libre Baskerville', serif;
          text-transform: uppercase;
          font-size: 14px; }
        .cull .man-cull .progress-bar .progress__text {
          margin-top: 35px; }
        .cull .man-cull .progress-bar .progress__textFinish {
          margin-top: 15px; }
    .cull .man-cull .progressbar {
      margin-top: 10px; }
      .cull .man-cull .progressbar__text {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        word-spacing: 5px; }
        .cull .man-cull .progressbar__text__decor {
          margin: 5px 0px; }
      .cull .man-cull .progressbar__bar {
        height: 4px;
        margin: 0px 0px 40px 0px;
        background-color: #e1e4e9; }
        .cull .man-cull .progressbar__bar__progress1 {
          height: 4px;
          background: #19bd9a; }
      .cull .man-cull .progressbar__80 {
        width: 80%; }
      .cull .man-cull .progressbar__65 {
        width: 65%; }
      .cull .man-cull .progressbar__75 {
        width: 75%; }

.already {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  background: url("../img/usa.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
  letter-spacing: 1px;
  opacity: 0.7; }
  .already__loved {
    font-size: 20px;
    margin: 15px; }
  .already__us {
    padding: 9px 20px 9px 20px;
    font-weight: bold;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    letter-spacing: 1px;
    color: #fff; }
    .already__us:hover {
      background: #19bd9a; }

.testimonials {
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
  height: 650px;
  text-align: center;
  /* You have to repeat this with each slide
  TODO: make it easier with SCSS
  25% movement 100/slides-num
  */ }
  .testimonials__titel {
    margin: 80px 0px 35px 0px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    color: #333b46; }
  .testimonials__text {
    margin: 0;
    line-height: 22px;
    letter-spacing: 1px;
    color: #6d727a; }
  .testimonials .carrousel {
    background: #fff;
    text-align: center;
    height: 320px;
    max-width: 1170px;
    margin: 60px 90px 30px 90px;
    position: relative;
    overflow: hidden; }
  .testimonials .carrousel .slides {
    width: 400%;
    left: 0;
    padding-left: 0;
    padding-top: 1em;
    overflow: hidden;
    list-style: none;
    position: relative;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s; }
  .testimonials .carrousel .slides li {
    width: 25%;
    position: relative;
    float: left; }
  .testimonials .carrousel li p {
    margin-top: 0; }
  .testimonials .carrousel li p.text {
    max-width: 60%;
    margin: 30px 80px 0px 0px;
    color: #6d727a;
    text-align: left;
    float: right;
    line-height: 25px;
    letter-spacing: 1px;
    word-spacing: 4px; }
  .testimonials .carrousel li div {
    background: url("../img/manC.png");
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 80px;
    vertical-align: middle; }
  .testimonials .carrousel li span.author {
    margin-top: 0.5em;
    font-size: 1.2em;
    color: #19bd9a;
    display: block; }
  .testimonials .carrousel .slidesNavigation {
    display: block;
    list-style: none;
    text-align: center;
    bottom: 1em;
    /*--- ╨ж╨╡╨╜╤В╤А╤Г╨▓╨░╨╜╨╜╤П---*/
    position: absolute;
    width: 104px;
    /* ╨▓╨╡╤А╤В╨╕╨║╨░╨╗╤М╨╜╨╡ ╨┐╨╛╨╗╨╛╨╢╨╡╨╜╨╜╤П ╨╜╨╕╨╢╨╜╤Ц╤Е ╨║╤А╨░╨┐╨╛╨║ - So in this case is   104 because the navigation dots are 26px (width:10px and 6px marginleft + 6 px marginright) and there are 4 dots so 4x26=104 */
    left: 50%;
    /*Centering de element*/
    margin-left: -32px;
    /* ╤Ж╨╡╨╜╤В╤А╤Г╨▓╨░╨╜╨╜╤П ╨╜╨╕╨╢╨╜╤Ц╤Е ╨║╤А╨░╨┐╨╛╨║*/ }
  .testimonials .carrousel input {
    display: none; }
  .testimonials .carrousel .slidesNavigation label {
    float: left;
    margin: 6px;
    display: block;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 2px #19bd9a;
    font-size: 0; }
  .testimonials #radio-1:checked ~ .slides {
    transform: translateX(0%); }
  .testimonials #radio-2:checked ~ .slides {
    transform: translateX(-25%); }
  .testimonials #radio-3:checked ~ .slides {
    transform: translateX(-50%); }
  .testimonials #radio-4:checked ~ .slides {
    transform: translateX(-75%); }
  .testimonials .carrousel .slidesNavigation label:hover {
    cursor: pointer; }
  .testimonials .carrousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
  .testimonials .carrousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
  .testimonials .carrousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
  .testimonials .carrousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
    background: #19bd9a; }

/*# sourceMappingURL=main.css.map */
