::selection {
  background: #000;
  color: #fff; }

header {
  background: url("../img/banner.jpg") no-repeat center top/cover;
  height: 740px;
  width: 100%; }

.wrapper {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto; }

.logo__bouncy {
  display: block;
  padding-top: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #f3f3f3; }
  .logo__bouncy__button {
    display: flex;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #f3f3f3; }
.logo .menu {
  padding: 0;
  margin-top: -28px;
  display: flex;
  justify-content: flex-end; }
  .logo .menu__link {
    display: block;
    float: left;
    margin-left: 30px; }
    .logo .menu__link__button1 {
      border-style: solid;
      border-width: 1px;
      border-radius: 50px;
      padding: 2px 8px 2px 8px;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 12px;
      color: #f3f3f3; }
    .logo .menu__link__button1:hover {
      background-color: #19bd9a;
      transition: all 0.6s ease; }
    .logo .menu__link__button {
      text-decoration: none;
      text-transform: capitalize;
      font-size: 12px;
      color: #f3f3f3; }
.logo .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .logo .heading__title {
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 22px;
    font-size: 24px;
    font-family: 'Libre Baskerville', serif;
    margin-top: 220px;
    color: #fff; }
  .logo .heading__subtitle {
    font-size: 12px;
    max-width: 620px;
    margin-top: 26px;
    line-height: 18px;
    letter-spacing: 1px;
    word-spacing: 4px;
    word-wrap: break-word;
    color: #fff; }
.logo .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px; }
  .logo .button__list {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 9px 16px 9px 16px;
    text-decoration: none;
    letter-spacing: 4px;
    color: #19bd9a; }
    .logo .button__list__start {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      color: #f3f3f3; }
  .logo .button__list:hover {
    background-color: #19bd9a;
    transition: all 2s ease; }

.text {
  padding-left: 100px;
  height: 487px;
  background-color: #fff; }
  .text__titel {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 4px;
    word-spacing: 16px;
    margin-top: 114px;
    color: #333b46; }
  .text__desc {
    font-size: 12px;
    max-width: 465px;
    line-height: 19px;
    letter-spacing: 1px;
    word-spacing: 4px;
    word-wrap: break-word;
    color: #81868e;
    margin-top: 50px; }
  .text .text-bat {
    margin-top: 50px; }
    .text .text-bat__batton {
      border-style: solid;
      border-width: 1px;
      border-radius: 20px;
      padding: 3px 20px 9px 20px;
      letter-spacing: 4px;
      color: #333b46; }
      .text .text-bat__batton__read {
        text-decoration: none;
        text-transform: capitalize;
        color: #333b46;
        font-size: 10px; }
    .text .text-bat__batton:hover {
      background-color: #19bd9a;
      transition: all 2s ease; }
  .text .monitor {
    background: url("../img/mobi.png") no-repeat;
    height: 340px;
    width: 205px;
    float: right;
    margin-right: 100px; }

.section {
  background-color: #f3f3f3;
  height: 618px;
  max-width: 100%; }
  .section .section-first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    .section .section-first__caption {
      margin-top: 80px;
      text-transform: uppercase;
      font-size: 14px;
      font-family: 'Libre Baskerville', serif;
      letter-spacing: 4px;
      word-spacing: 13px;
      color: #333b46; }
    .section .section-first__text {
      margin-top: 42px;
      width: 462px;
      font-size: 10px;
      letter-spacing: 1px;
      word-spacing: 4px;
      color: #6d727a; }
  .section .hovers .link {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 52px; }
    .section .hovers .link__icons {
      display: block;
      padding: 15px;
      margin: 15px;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      background-color: #6d727a; }
      .section .hovers .link__icons__btn {
        fill: white; }
    .section .hovers .link__icons:hover {
      background-color: #19bd9a;
      transition: all 0.5 ss ease; }
  .section .headline {
    height: 155px; }
    .section .headline__title {
      margin-top: 55px;
      width: 50%;
      font-size: 13px;
      text-transform: capitalize;
      color: #333b46; }
    .section .headline__text {
      width: 35%;
      float: left;
      font-size: 10px;
      line-height: 18px;
      letter-spacing: 1px;
      word-spacing: 5px;
      color: #6d727a; }
    .section .headline__text-finish {
      margin-top: -30px;
      width: 55%;
      float: right;
      font-size: 10px;
      line-height: 18px;
      letter-spacing: 1px;
      word-spacing: 5px;
      color: #6d727a; }
    .section .headline .colortext {
      color: #19bd9a; }
  .section .projekts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 235px;
    text-align: center; }
    .section .projekts__title {
      font-family: 'Libre Baskerville', serif;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 3px;
      word-spacing: 5px;
      color: #333b46; }
    .section .projekts__text {
      width: 490px;
      font-size: 10px;
      line-height: 18px;
      letter-spacing: 1px;
      word-spacing: 5px;
      color: #6d727a; }

body {
  margin: 0;
  padding: 0;
  max-width: 1370px;
  height: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 20px; }

/*# sourceMappingURL=main.css.map */
