.price {
  background: url("../img/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 640px;

  .ourTitel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &__First {
      margin: 80px 0px 40px 0px;
      text-transform: uppercase;
      font-size: 18px;
      color: #333b46;
    }

    &__text {
      margin: 5px 0px;
      color: #333b46;
    }
  }

  .wrapper-container {
    margin: auto;
    max-width: 860px;

    .premium-exclusive {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      position: relative;

      .hoverBlock {
        position: relative;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background-color: #000;
          height: 100%;
          width: 100%;
          opacity: 0.6;
        }

        &:hover {
          &:before {
            display: none;
          }
        }
      }

      .premium {
        width: 240px;
        height: 305px;
        background: #fff;
        text-align: center;

        &__backgrow {
          background: #035947;
          height: 70px;

          &__titel {
            margin: 0 auto;
            padding-top: 24px;
            text-transform: uppercase;
            color: #fff;
            font-size: 18px;
          }
        }

        &__min {
          margin: 58px 0px 0px 0px;
          color: #19bd9a;
          font-size: 40px;
        }

        &__text {
          margin-top: 12px;
          text-transform: capitalize;
          font-size: 18px;
          color: #333b46;
        }
      }

      .full {
        width: 240px;
        height: 305px;
        background: #fff;
        text-align: center;

        &__text {
          margin-top: 25px;
          padding-left: 35px;
          text-align: left;
          text-transform: capitalize;
          font-size: 16px;
          color: #333b46;

          &__texting {
            margin: 9px;
            color: #333B56;
          }
        }

        &__backgrow {
          margin-top: 33px;
          background: #035947;
          height: 70px;

          &__titel {
            margin: 0 auto;
            padding-top: 24px;
            color: #fff;
            font-size: 18px;
          }
        }

        &__min {
          margin: 58px 0px 0px 0px;
          color: #059705;
          font-size: 40px;
        }
      }
    }
  }
}