.cull {
  height: 770px;

  .team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &__titel {
      margin-top: 80px;
      text-transform: uppercase;
      font-size: 18px;
      color: #333b46;
    }

    &__text {
      margin-top: 30px;
      width: 560px;
      line-height: 22px;
      letter-spacing: 1px;
      color: #6d727a;
    }
  }

  .man-cull {
    display: flex;
    justify-content: space-between;
    height: 100%;
    @media screen and (max-width: 1300px) {
      margin: 50px;
    }

    &__man {
      margin-top: 75px;
      background: url("../img/man.jpg") no-repeat;
      width: 285px;
      height: 364px;
    }

    .progress-bar {
      display: flex;
      flex-direction: column;

      .progress {
        display: block;
        margin-top: 70px;
        max-width: 335px;
        text-align: right;
        color: #a8abb0;

        &__titel {
          font-family: 'Libre Baskerville', serif;
          font-size: 18px;
          color: #464646;
        }

        &__titelFinish {
          margin-top: 16px;
          font-family: 'Libre Baskerville', serif;
          text-transform: uppercase;
          font-size: 14px;
        }

        &__text {
          margin-top: 35px;
        }

        &__textFinish {
          margin-top: 15px;
        }
      }
    }

    .progressbar {
      margin-top: 10px;

      &__text {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        word-spacing: 5px;

        &__decor {
          margin: 5px 0px;
        }
      }

      &__bar {
        height: 4px;
        margin: 0px 0px 40px 0px;
        background-color: #e1e4e9;

        &__progress1 {
          height: 4px;
          background: #19bd9a;
        }
      }

      &__80 {
        width: 80%;
      }

      &__65 {
        width: 65%;
      }

      &__75 {
        width: 75%;
      }
    }
  }
}

.already {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  background: url("../img/usa.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
  letter-spacing: 1px;
  opacity: 0.7;

  &__loved {
    font-size: 20px;
    margin: 15px;
  }

  &__us {
    padding: 9px 20px 9px 20px;
    font-weight: bold;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;

    letter-spacing: 1px;
    color: #fff;

    &:hover {
      background: #19bd9a;
    }
  }
}



