.section {
  background-color: #f3f3f3;
  height: 618px;
  max-width: 100%; }
  @media screen and (max-width: 480px) {
    .section {
      height: 648px; } }
  @media screen and (max-width: 450px) {
    .section {
      height: 675px; } }
  @media screen and (max-width: 420px) {
    .section {
      height: 710px; } }
  @media screen and (max-width: 375px) {
    .section {
      height: 760px; } }
  @media screen and (max-width: 355px) {
    .section {
      height: 840px; } }
  .section__first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    .section__first__caption {
      margin-top: 70px;
      text-transform: uppercase;
      font-size: 16px;
      font-family: 'Source Sans Pro', sans-serif;
      letter-spacing: 4px;
      word-spacing: 12px;
      color: #333b46; }
      @media screen and (max-width: 480px) {
        .section__first__caption {
          margin-top: 50px; } }
    .section__first__text {
      margin-top: 30px;
      max-width: 462px;
      letter-spacing: 1px;
      word-spacing: 4px;
      color: #6d727a; }
      @media screen and (max-width: 480px) {
        .section__first__text {
          margin: 20px 30px; } }
  .section .hovers .link {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 45px; }
    @media screen and (max-width: 768px) {
      .section .hovers .link {
        margin-top: 30px; } }
    @media screen and (max-width: 480px) {
      .section .hovers .link {
        margin: 0; } }
    .section .hovers .link__icons {
      display: block;
      padding: 15px;
      margin: 15px;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      background-color: #6d727a; }
      .section .hovers .link__icons__btn {
        fill: white; }
    .section .hovers .link__icons:hover {
      background-color: #19bd9a; }
  .section .headline {
    height: 155px; }
    @media screen and (max-width: 1270px) {
      .section .headline {
        padding: 0 50px; } }
    @media screen and (max-width: 480px) {
      .section .headline {
        padding: 0 20px; } }
    .section .headline__title {
      margin-top: 55px;
      width: 50%;
      font-size: 16px;
      text-transform: capitalize;
      color: #333b46; }
      @media screen and (max-width: 768px) {
        .section .headline__title {
          margin-top: 30px; } }
      @media screen and (max-width: 480px) {
        .section .headline__title {
          margin-top: 25px; } }
    .section .headline__lion {
      display: flex;
      justify-content: space-between;
      line-height: 25px;
      letter-spacing: 1px;
      word-spacing: 5px;
      color: #6d727a; }
      @media screen and (max-width: 480px) {
        .section .headline__lion {
          flex-direction: column; } }
    .section .headline__text {
      width: 32%; }
      @media screen and (max-width: 480px) {
        .section .headline__text {
          width: 100%; } }
    .section .headline__textFinish {
      width: 58%; }
      @media screen and (max-width: 480px) {
        .section .headline__textFinish {
          width: 100%; } }
