.footer {
  height: 290px;
  background: #f3f3f3; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 190px; } }
  .footer__finish {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    .footer__finish .footerText {
      margin-top: 50px; }
      @media screen and (max-width: 480px) {
        .footer__finish .footerText {
          margin-top: 10px; } }
      .footer__finish .footerText__titel {
        text-transform: uppercase; }
        .footer__finish .footerText__titel__bouncy {
          text-decoration: none;
          font-size: 20px;
          font-weight: bold;
          color: #323a45; }
          @media screen and (max-width: 480px) {
            .footer__finish .footerText__titel__bouncy {
              font-size: 14px; } }
      .footer__finish .footerText__text {
        text-transform: capitalize;
        color: #333B56; }
        @media screen and (max-width: 480px) {
          .footer__finish .footerText__text {
            font-size: 12px; } }
  .footer .footerMenu {
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 480px) {
      .footer .footerMenu {
        margin-top: -19px; } }
    .footer .footerMenu__icon {
      margin: 30px 9px 0 9px;
      width: 30px;
      height: 30px; }
