.text {
  padding-left: 100px;
  height: 487px;
  background-color: #fff; }
  .text__titel {
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 4px;
    word-spacing: 12px;
    margin-top: 114px;
    color: #333b46; }
  .text__desc {
    max-width: 465px;
    line-height: 25px;
    letter-spacing: 2px;
    word-spacing: 4px;
    word-wrap: break-word;
    color: #81868e;
    margin-top: 50px; }
  .text__bat {
    margin-top: 50px; }
    .text__bat__batton {
      border-style: solid;
      border-width: 1px;
      border-radius: 20px;
      padding: 9px 20px 9px 20px;
      letter-spacing: 4px;
      color: #333b46; }
      .text__bat__batton:hover {
        background-color: #19bd9a;
        transition: all 2s ease; }
    .text__bat__read {
      text-decoration: none;
      text-transform: capitalize;
      color: #333b46; }
  .text__monitor {
    background: url("../img/mobi.png") no-repeat;
    height: 340px;
    width: 205px;
    float: right;
    margin-top: -274px;
    margin-right: 100px; }

@media screen and (max-width: 935px) {
  .text {
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: 370px;
    margin: 20px;
    background-color: #fff; }
    .text__titel {
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      font-family: 'Source Sans Pro', sans-serif;
      letter-spacing: 4px;
      word-spacing: 12px;
      margin-top: 14px;
      color: #333b46; }
    .text__desc {
      margin: auto;
      font-size: 12px;
      text-align: center;
      color: #81868e;
      margin-top: 30px; }
    .text__monitor {
      display: none; }
    .text__bat {
      margin: auto;
      padding: 35px; }
      .text__bat__batton {
        margin: 35px;
        border-style: solid;
        border-width: 1px;
        border-radius: 20px;
        padding: 9px 20px 9px 20px;
        letter-spacing: 4px;
        color: #333b46; }
        .text__bat__batton:hover {
          background-color: #19bd9a;
          transition: all 2s ease; }
      .text__bat__read {
        text-decoration: none;
        text-transform: capitalize;
        color: #333b46; } }

@media screen and (max-width: 492px) {
  .text {
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: 400px;
    margin: 20px;
    background-color: #fff; }
    .text__titel {
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      font-family: 'Source Sans Pro', sans-serif;
      letter-spacing: 4px;
      word-spacing: 12px;
      margin-top: 14px;
      color: #333b46; }
    .text__desc {
      margin: auto;
      font-size: 12px;
      text-align: center;
      color: #81868e;
      margin-top: 30px; }
    .text__monitor {
      display: none; }
    .text__bat {
      margin: auto;
      padding: 35px; }
      .text__bat__batton {
        margin: 35px;
        border-style: solid;
        border-width: 1px;
        border-radius: 20px;
        padding: 9px 20px 9px 20px;
        letter-spacing: 4px;
        color: #333b46; }
        .text__bat__batton:hover {
          background-color: #19bd9a;
          transition: all 2s ease; }
      .text__bat__read {
        text-decoration: none;
        text-transform: capitalize;
        color: #333b46; } }
