.text {
  padding-left: 100px;
  height: 487px;
  background-color: #fff; }
  @media screen and (max-width: 480px) {
    .text {
      padding: 15px;
      height: 400px;
      text-align: center; } }
  @media screen and (max-width: 350px) {
    .text {
      height: 500px; } }
  @media screen and (max-width: 325px) {
    .text {
      height: 520px; } }
  .text__titel {
    margin-top: 114px;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 12px;
    color: #333b46; }
    @media screen and (max-width: 768px) {
      .text__titel {
        margin-top: 60px; } }
    @media screen and (max-width: 480px) {
      .text__titel {
        margin-top: 40px; } }
    @media screen and (max-width: 412px) {
      .text__titel {
        margin-top: 20px; } }
  .text__texts {
    margin-top: 50px;
    max-width: 465px;
    line-height: 25px;
    letter-spacing: 2px;
    word-spacing: 4px;
    word-wrap: break-word;
    color: #81868e; }
    @media screen and (max-width: 768px) {
      .text__texts {
        margin-top: 35px;
        max-width: 306px; } }
    @media screen and (max-width: 480px) {
      .text__texts {
        max-width: 100%; } }
  .text__bat {
    margin-top: 50px; }
    @media screen and (max-width: 480px) {
      .text__bat {
        margin-top: 30px; } }
    .text__bat__batton {
      border-style: solid;
      border-width: 1px;
      border-radius: 20px;
      padding: 9px 20px 9px 20px;
      letter-spacing: 4px;
      color: #333b46; }
      .text__bat__batton:hover {
        background-color: #19bd9a;
        transition: all 2s ease; }
    .text__bat__read {
      text-decoration: none;
      text-transform: capitalize;
      color: #333b46; }
  .text__monitor {
    background: url("../img/mobi.png") no-repeat;
    height: 340px;
    width: 205px;
    float: right;
    margin-top: -274px;
    margin-right: 100px; }
    @media screen and (max-width: 768px) {
      .text__monitor {
        margin-top: -315px; } }
    @media screen and (max-width: 480px) {
      .text__monitor {
        display: none; } }
