.services {
  background-color: #f3f3f3;
  height: 636px; }
  @media screen and (max-width: 1290px) {
    .services {
      padding: 0 50px; } }
  @media screen and (max-width: 1200px) {
    .services {
      height: 890px; } }
  @media screen and (max-width: 480px) {
    .services {
      padding: 0 20px;
      height: 542px; } }
  @media screen and (max-width: 410px) {
    .services {
      height: 595px; } }
  .services__graphic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    .services__graphic__heading {
      margin-top: 80px;
      font-family: 'Libre Baskerville', serif;
      text-transform: uppercase;
      letter-spacing: 3px;
      word-spacing: 5px;
      font-size: 16px;
      color: #333b46; }
      @media screen and (max-width: 480px) {
        .services__graphic__heading {
          margin-top: 50px;
          font-size: 14px; } }
    .services__graphic__text {
      max-width: 660px;
      letter-spacing: 1px;
      word-spacing: 3px;
      line-height: 30px;
      color: #333b46; }
      @media screen and (max-width: 480px) {
        .services__graphic__text {
          line-height: 20px; } }
  .services .wrapper-first {
    display: flex;
    margin-top: 30px; }
    @media screen and (max-width: 1200px) {
      .services .wrapper-first {
        margin: 0;
        display: flex;
        flex-direction: column; } }
    @media screen and (max-width: 1200px) {
      .services .wrapper-first .designer {
        margin: auto; } }
    .services .wrapper-first .designer .presention {
      display: block;
      padding: 0; }
      @media screen and (max-width: 1200px) {
        .services .wrapper-first .designer .presention {
          display: inline-flex; } }
      @media screen and (max-width: 480px) {
        .services .wrapper-first .designer .presention {
          margin: 0; } }
      .services .wrapper-first .designer .presention__icon {
        display: block;
        padding: 15px;
        margin-top: 20px;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        background-color: #6d727a; }
        @media screen and (max-width: 1200px) {
          .services .wrapper-first .designer .presention__icon {
            margin: 20px; } }
        @media screen and (max-width: 480px) {
          .services .wrapper-first .designer .presention__icon {
            margin: 10px;
            height: 20px;
            width: 20px; } }
        .services .wrapper-first .designer .presention__icon__btr {
          fill: white; }
      .services .wrapper-first .designer .presention__icon:hover {
        background-color: #19bd9a; }
    .services .wrapper-first .designers {
      display: flex;
      flex-direction: column;
      padding-left: 46px;
      max-width: 440px;
      letter-spacing: 1px;
      word-spacing: 2px;
      line-height: 25px;
      color: #333b46; }
      @media screen and (max-width: 1200px) {
        .services .wrapper-first .designers {
          display: inline-flex;
          margin: auto;
          padding: 20px 0;
          max-width: 586px; } }
      @media screen and (max-width: 480px) {
        .services .wrapper-first .designers {
          text-align: center; } }
      .services .wrapper-first .designers__titel {
        margin-top: 20px;
        text-transform: capitalize;
        font-size: 16px; }
        @media screen and (max-width: 1200px) {
          .services .wrapper-first .designers__titel {
            margin: auto; } }
      .services .wrapper-first .designers__text {
        margin-top: 15px; }
        @media screen and (max-width: 1200px) {
          .services .wrapper-first .designers__text {
            margin-top: 25px; } }
      .services .wrapper-first .designers__end {
        margin-top: 30px; }
        @media screen and (max-width: 1200px) {
          .services .wrapper-first .designers__end {
            margin-top: 15px; } }
    .services .wrapper-first .bars {
      display: flex;
      align-items: center;
      padding-left: 107px; }
      @media screen and (max-width: 1200px) {
        .services .wrapper-first .bars {
          margin: auto;
          padding: 0; } }
      @media screen and (max-width: 480px) {
        .services .wrapper-first .bars {
          display: none; } }
      @media screen and (max-width: 480px) {
        .services .wrapper-first .bars {
          padding: 16px; } }
      .services .wrapper-first .bars .progressCircle {
        position: relative;
        display: inline-block;
        margin: 20px;
        width: 134px;
        height: 134px;
        border-radius: 50%;
        background-color: #ddd; }
        @media screen and (max-width: 480px) {
          .services .wrapper-first .bars .progressCircle {
            margin: 4px 25px 0 -20px; } }
        .services .wrapper-first .bars .progressCircle:before {
          content: '';
          position: absolute;
          top: 7px;
          left: 6px;
          width: 121px;
          height: 121px;
          border-radius: 50%;
          background-color: #f3f3f3; }
        .services .wrapper-first .bars .progressCircle:after {
          content: '';
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: #19bd9a; }
        .services .wrapper-first .bars .progressCircle__number {
          position: absolute;
          top: 50%;
          width: 100%;
          line-height: 1;
          margin-top: -0.75rem;
          text-align: center;
          font-size: 1.5rem;
          color: #777; }
          .services .wrapper-first .bars .progressCircle__number em {
            font-size: 15px; }
        .services .wrapper-first .bars .progressCircle__textFin {
          margin-top: 80px;
          font-size: 14px; }
      .services .wrapper-first .bars .progressCircle.progress--0:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(90deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--5:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(108deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--10:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(126deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--15:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(144deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--20:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(162deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--25:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(180deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--30:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(198deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--35:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(216deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--40:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(234deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--45:after {
        background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(252deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--50:after {
        background-image: linear-gradient(-90deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--55:after {
        background-image: linear-gradient(-72deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--60:after {
        background-image: linear-gradient(-54deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--65:after {
        background-image: linear-gradient(-36deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--70:after {
        background-image: linear-gradient(-18deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--75:after {
        background-image: linear-gradient(0deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--80:after {
        background-image: linear-gradient(18deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--85:after {
        background-image: linear-gradient(36deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--90:after {
        background-image: linear-gradient(54deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--95:after {
        background-image: linear-gradient(72deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
      .services .wrapper-first .bars .progressCircle.progress--100:after {
        background-image: linear-gradient(90deg, #19bd9a 50%, transparent 50%, transparent), linear-gradient(270deg, #19bd9a 50%, #ddd 50%, #ddd); }
