.topMemu {
  padding-top: 10px; }
  .topMemu .mobile-menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
    top: 0;
    background-color: #19bd9a;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 9999999; }
    .topMemu .mobile-menu__btn {
      padding-right: 25px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 30px;
      cursor: pointer;
      transition: .4s; }
    .topMemu .mobile-menu__icon {
      display: block;
      position: relative;
      background: white;
      width: 90%;
      height: 4px;
      transition: .4s; }
    .topMemu .mobile-menu__icon::after, .topMemu .mobile-menu__icon::before {
      content: "";
      display: block;
      position: absolute;
      background: white;
      width: 100%;
      height: 4px;
      transition: .4s; }
    .topMemu .mobile-menu__icon::after {
      top: 8px; }
    .topMemu .mobile-menu__icon::before {
      top: -8px; }
    .topMemu .mobile-menu__container {
      max-width: 1370px;
      margin: 0 auto;
      position: fixed;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50px;
      left: 0;
      right: 0;
      z-index: 999;
      height: 0;
      opacity: 1;
      transition: .5s;
      overflow: hidden;
      background-color: #19bd9a; }
    .topMemu .mobile-menu__list {
      transition: .5s;
      list-style: none;
      padding-left: 0;
      margin-top: -50px; }
    .topMemu .mobile-menu__item {
      font-size: 26px;
      padding-bottom: 15px; }
    .topMemu .mobile-menu__link {
      text-decoration: none;
      color: #fff; }
    .topMemu .mobile-menu__checkbox {
      display: none; }
    .topMemu .mobile-menu .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
      opacity: 1; }
    .topMemu .mobile-menu .mobile-menu__checkbox:checked ~ .mobile-menu__container {
      height: 100%; }
    .topMemu .mobile-menu .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
      background: transparent; }
    .topMemu .mobile-menu .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .topMemu .mobile-menu .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
      top: 0; }
    .topMemu .mobile-menu .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg); }
    .topMemu .mobile-menu .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }
