.vintage {
  display: flex;
  height: 318px;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff; }
  @media screen and (max-width: 480px) {
    .vintage {
      height: 170px;
      font-size: 14px; } }
  @media screen and (max-width: 400px) {
    .vintage {
      height: 150px;
      font-size: 12px; } }
  .vintage .image {
    width: 55%;
    background: url("../img/oblozka1.jpg"); }
    @media screen and (max-width: 960px) {
      .vintage .image {
        width: 45%; } }
  .vintage .picture {
    width: 20%;
    background: url("../img/oblozka2.jpg"); }
    @media screen and (max-width: 960px) {
      .vintage .picture {
        width: 25%; } }
  .vintage .img {
    width: 25%;
    background: url("../img/oblozka3.jpg"); }
    @media screen and (max-width: 960px) {
      .vintage .img {
        width: 30%; } }
  .vintage .blok {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
    .vintage .blok__titel {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2; }
      @media screen and (max-width: 480px) {
        .vintage .blok__titel {
          top: 40%; } }
    .vintage .blok:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: #000;
      height: 100%;
      width: 100%;
      opacity: 0.8; }
    .vintage .blok:hover:before {
      display: none; }
    .vintage .blok:hover .blok__titel {
      display: none; }
